{% extends 'base.html.twig'%}

{% block body %}
    <div class="container-fluid">
        <ol>
            {% for product in products %}
                <div class="mt-5">
                    <li><p> {{ product.name}} - {{ product.price|currency_EUR }} : <i>{{ product.description }}</i></p></li>
                    <ul>
                        {% for comment in product.comments %}
                            <li>"{{ comment.comment }}" - {{ comment.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </ol>
    </div>
{% endblock %}